{% include base.html %}

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="body">
      {% include header--transparent.html %}
      
      <content class="content">
          <section class="hero-image hero-image--frontpage">
              <div class="hero-image__overlay">
                  <div class="row">
                      <div class="col-xs">
                          <h1 class="hero-image__heading">Digitraffic</h1>
                          <p class="hero-image__intro">Ajantasaista liikennetietoa sovelluskehitykseen Suomen tie-, rautatie- sekä vesiliikenteestä.</p>
                      </div>
                  </div>
              </div>
          </section>
          <section class="content__frontpage-section">
              <div class="row">
                  <div class="col-xs">
                      <h2 class="h2 u--centered">Ajankohtaista</h2>
                  </div>
              </div>
              <div class="row">
                {% for post in site.posts limit:3 %}
                  <div class="col-xs-12 col-sm">
                      <section class="latest-item">
                          <h4 class="h4 latest-item__header-text"><a href="{{ base }}{{ post.url }}" class="latest-item__header-link">{{ post.title }}</a></h4>
                          <p class="latest-item__meta-first"><span class="latest-item__timestamp">{{ post.date | date: "%d.%m.%Y" }}</span><a href="#" class="latest-item__content-type link">Tiedotteet</a></p>
                          <p><span class="latest-item__traffic-type"><a href="#" class="latest-item__traffic-type-link link">Tieliikenne</a></span><span class="latest-item__traffic-type"><a href="#" class="latest-item__traffic-type-link link">Rautatieliikenne</a></span><span class="latest-item__traffic-type"><a href="#" class="latest-item__traffic-type-link link">Meriliikenne</a></span></p>
                      </section>
                  </div>
                {% endfor %}
              </div>
              <div class="row">
                  <section class="frontpage-button-area">
                      <a href="#"><button class="button"><i class="button__icon material-icons md-light md-lg">info</i><span class="button__text">Tiedotteet</span></button></a>
                      <a href="#"><button class="button"><i class="button__icon material-icons md-light md-lg">format_quote</i><span class="button__text">Artikkelit</span></button></a>
                      <a href="#"><button class="button"><i class="button__icon material-icons md-light md-lg">event</i><span class="button__text">Tapahtumat</span></button></a>
                  </section>
              </div>
          </section>
          <section class="content__frontpage-section">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <img class="img img--full-width" src="{{ "/img/3d-img-car.svg" | prepend:site.baseurl }}" />
              </div>
              <div class="col-xs-12 col-sm-8">
                <h2 class="h2"><a href="#" class="h-link">Tieliikenne</a></h2>
              </div>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="col-xs-12 col-md">
                {{ content }}
              </div>
            </div>
          </section>
      </content>
  </body>
</html>